<!DOCTYPE html>
<html>
    <head>
        <title>Chess.com - Admin - Resque</title>
        <style>div.dataTables_length label{float:left;text-align:left}div.dataTables_length select{width:75px}div.dataTables_filter label{float:right}div.dataTables_info{padding-top:8px}div.dataTables_paginate{float:right;margin:0}table.table{clear:both;margin-bottom:6px!important;max-width:none!important}table.table thead .sorting,table.table thead .sorting_asc,table.table thead .sorting_desc,table.table thead .sorting_asc_disabled,table.table thead .sorting_desc_disabled{cursor:pointer;*cursor:hand}table.table thead .sorting{background:url('//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/images/sort_both.png') no-repeat center right}table.table thead .sorting_asc{background:url('//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/images/sort_asc.png') no-repeat center right}table.table thead .sorting_desc{background:url('//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/images/sort_desc.png') no-repeat center right}table.table thead .sorting_asc_disabled{background:url('//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/images/sort_asc_disabled.png') no-repeat center right}table.table thead .sorting_desc_disabled{background:url('//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/images/sort_desc_disabled.png') no-repeat center right}table.dataTable th:active{outline:0}div.dataTables_scrollHead table{margin-bottom:0!important;border-bottom-left-radius:0;border-bottom-right-radius:0}div.dataTables_scrollHead table thead tr:last-child th:first-child,div.dataTables_scrollHead table thead tr:last-child td:first-child{border-bottom-left-radius:0!important;border-bottom-right-radius:0!important}div.dataTables_scrollBody table{border-top:0;margin-bottom:0!important}div.dataTables_scrollBody tbody tr:first-child th,div.dataTables_scrollBody tbody tr:first-child td{border-top:0}div.dataTables_scrollFoot table{border-top:0}.table tbody tr.active td,.table tbody tr.active th{background-color:#08C;color:white}.table tbody tr.active:hover td,.table tbody tr.active:hover th{background-color:#0075b0!important}.table-striped tbody tr.active:nth-child(odd) td,.table-striped tbody tr.active:nth-child(odd) th{background-color:#017ebc}table.DTTT_selectable tbody tr{cursor:pointer;*cursor:hand}div.DTTT .btn{color:#333!important;font-size:12px}div.DTTT .btn:hover{text-decoration:none!important}ul.DTTT_dropdown.dropdown-menu a{color:#333!important}ul.DTTT_dropdown.dropdown-menu li{position:relative}ul.DTTT_dropdown.dropdown-menu li:hover a{background-color:#08c;color:white!important}div.DTTT_print_info.modal{height:150px;margin-top:-75px;text-align:center}div.DTTT_print_info h6{font-weight:normal;font-size:28px;line-height:28px;margin:1em}div.DTTT_print_info p{font-size:14px;line-height:20px}div.DTFC_LeftHeadWrapper table,div.DTFC_LeftFootWrapper table,table.DTFC_Cloned tr.even{background-color:white}div.DTFC_LeftHeadWrapper table{margin-bottom:0!important;border-top-right-radius:0!important;border-bottom-left-radius:0!important;border-bottom-right-radius:0!important}div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child{border-bottom-left-radius:0!important;border-bottom-right-radius:0!important}div.DTFC_LeftBodyWrapper table{border-top:0;margin-bottom:0!important}div.DTFC_LeftBodyWrapper tbody tr:first-child th,div.DTFC_LeftBodyWrapper tbody tr:first-child td{border-top:0}div.DTFC_LeftFootWrapper table{border-top:0}</style>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
        <style>
            .container {
                width: 1260px;
            }
            .modal.large{
                width: 1260px;
                margin-left: -630px;
            }
            .thumbnails-stats li {
                position: relative;
            }
            .thumbnails-stats li a.thumbnail {
                text-align: center;
                padding-bottom: 15px;
            }
            .thumbnails-stats li a:hover {
                text-decoration: none;
            }
            .thumbnails-stats li h2 {
                color: #333 !important;
                vertical-align: middle;
            }
            .thumbnails-stats li a.close {
                position: absolute;
                top: 5px;
                right: 5px;
            }
            .tooltip-inner {
                max-width: 1000px !important;
            }
        </style>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/0.11.4/jquery.timeago.js"></script>
        <script>
            /* Set the defaults for DataTables initialisation */
            $.extend( true, $.fn.dataTable.defaults, {
                "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                }
            });


            /* Default class modification */
            $.extend( $.fn.dataTableExt.oStdClasses, {
                "sWrapper": "dataTables_wrapper form-inline"
            });


            /* API method to get paging information */
            $.fn.dataTableExt.oApi.fnPagingInfo = function (oSettings) {
                return {
                    "iStart":         oSettings._iDisplayStart,
                    "iEnd":           oSettings.fnDisplayEnd(),
                    "iLength":        oSettings._iDisplayLength,
                    "iTotal":         oSettings.fnRecordsTotal(),
                    "iFilteredTotal": oSettings.fnRecordsDisplay(),
                    "iPage":          oSettings._iDisplayLength === -1 ? 0 : Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
                    "iTotalPages":    oSettings._iDisplayLength === -1 ? 0 : Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
                };
            };


            /* Bootstrap style pagination control */
            $.extend($.fn.dataTableExt.oPagination, {
                "bootstrap": {
                    "fnInit": function(oSettings, nPaging, fnDraw) {
                        var oLang = oSettings.oLanguage.oPaginate;
                        var fnClickHandler = function ( e ) {
                            e.preventDefault();
                            if ( oSettings.oApi._fnPageChange(oSettings, e.data.action) ) {
                                fnDraw( oSettings );
                            }
                        };

                        $(nPaging).addClass('pagination').append(
                            '<ul>'+
                                '<li class="prev disabled"><a href="#">&larr; '+oLang.sPrevious+'</a></li>'+
                                '<li class="next disabled"><a href="#">'+oLang.sNext+' &rarr; </a></li>'+
                            '</ul>'
                        );

                        var els = $('a', nPaging);
                        $(els[0]).bind( 'click.DT', { action: "previous" }, fnClickHandler );
                        $(els[1]).bind( 'click.DT', { action: "next" }, fnClickHandler );
                    },

                    "fnUpdate": function (oSettings, fnDraw) {
                        var iListLength = 5;
                        var oPaging = oSettings.oInstance.fnPagingInfo();
                        var an = oSettings.aanFeatures.p;
                        var i, ien, j, sClass, iStart, iEnd, iHalf=Math.floor(iListLength/2);

                        if ( oPaging.iTotalPages < iListLength) {
                            iStart = 1;
                            iEnd = oPaging.iTotalPages;
                        }
                        else if ( oPaging.iPage <= iHalf ) {
                            iStart = 1;
                            iEnd = iListLength;
                        } else if ( oPaging.iPage >= (oPaging.iTotalPages-iHalf) ) {
                            iStart = oPaging.iTotalPages - iListLength + 1;
                            iEnd = oPaging.iTotalPages;
                        } else {
                            iStart = oPaging.iPage - iHalf + 1;
                            iEnd = iStart + iListLength - 1;
                        }

                        for (i = 0, ien = an.length; i < ien; i++) {
                            // Remove the middle elements
                            $('li:gt(0)', an[i]).filter(':not(:last)').remove();

                            // Add the new list items and their event handlers
                            for(j = iStart; j <= iEnd; j++) {
                                sClass = (j==oPaging.iPage+1) ? 'class="active"' : '';
                                $('<li '+sClass+'><a href="#">'+j+'</a></li>')
                                    .insertBefore( $('li:last', an[i])[0] )
                                    .bind('click', function (e) {
                                        e.preventDefault();
                                        oSettings._iDisplayStart = (parseInt($('a', this).text(),10)-1) * oPaging.iLength;
                                        fnDraw( oSettings );
                                    } );
                            }

                            // Add / remove disabled classes from the static elements
                            if ( oPaging.iPage === 0 ) {
                                $('li:first', an[i]).addClass('disabled');
                            } else {
                                $('li:first', an[i]).removeClass('disabled');
                            }

                            if ( oPaging.iPage === oPaging.iTotalPages-1 || oPaging.iTotalPages === 0 ) {
                                $('li:last', an[i]).addClass('disabled');
                            } else {
                                $('li:last', an[i]).removeClass('disabled');
                            }
                        }
                    }
                }
            });

            $(function() {
                $('.table-data').dataTable({
                    "sDom": "<''<'pull-left'l><'pull-right'f>r>t<''<'pull-left'i><'pull-right'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ per page"
                    },
                    "fnDrawCallback": function() {
                        $.timeago.settings.strings.minute = 'a minute';
                        $.timeago.settings.strings.hour = 'an hour';
                        $.timeago.settings.strings.hours = '%d hours';
                        $.timeago.settings.strings.month = 'a month';
                        $.timeago.settings.strings.year = 'a year';
                        $('.timeago', this).timeago();
                    }
                });

                $('.modal').on('shown', function () {
                    if (! $('.untraced p', this).length) {
                        return;
                    }

                    var string = '<table class="table table-bordered table-striped table-condensed">';
                    string += '<thead><tr><td>Caller</td><td>Line</td><td>Class</td><td>Method</td><td>Arguments</td></tr></thead>';

                    $('.untraced p', this).each(function (index, item) {
                        var split = item.innerHTML.split(' ');

                        if (split[2]) {
                            var step = split[0],
                                file = split[1].split('.com/').pop().split('(').shift(),
                                fileshort = file.split('/').pop(),
                                line = split[1].split('(').pop().split(')').shift(),
                                klass = split[2].split('/').pop().split('-&gt;').shift().split('/').pop(),
                                shortklass = klass.split('\\').pop(),
                                methodcall = split[2].split('/').pop().split('-&gt;').pop(),
                                method = methodcall.split('(').shift(),
                                arguments = methodcall.replace(/^\w+\(/, '').replace(/\),?$/, '');

                            string += '<tr>';
                                string += '<td>';
                                    string += '<a data-original-title="' + file + '">' + fileshort + '</a>';
                                string += '</td>';
                                string += '<td>';
                                    string += line;
                                string += '</td>';
                                string += '<td>';
                                    string += '<a data-original-title="' + klass + '">' + shortklass + '</a>';
                                string += '</td>';
                                string += '<td>';
                                    string += method;
                                string += '</td>';
                                string += '<td>';
                                    string += arguments;
                                string += '</td>';
                            string += '</tr>';
                        } else {
                            string += '<tr>';
                                string += '<td colspan="3">';
                                    string += '<a data-original-title="Entry point">[main]</a>';
                                string += '</td>';
                            string += '</tr>';
                        }
                    });

                    string += '</table>';

                    $('.modal-body', this).html(string);

                    $('table', this).tooltip({
                        selector: 'a',
                        placement: 'bottom',
                        animation: false
                    });

                    $('.backtrace', this).removeClass('untraced');
                });

                $('.container').tooltip({
                    selector: 'a.close',
                    placement: 'bottom',
                    animation: false
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            {% set navigation = [['resque', 'Overview'], ['resque_queues', 'Queues'], ['resque_workers', 'Workers'], ['resque_failed', 'Failed']] %}
            {% set active = active|default('resque') %}

            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="{{ path('resque') }}">Resque</a>
                    <ul class="nav">
                        {% for item in navigation %}
                            <li{% if item[0] == active %} class="active"{% endif%}>
                                <a href="{{ path(item[0]) }}">{{item[1]}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% block body %}{% endblock body %}
        </div>
    </body>
</html>
